body{background-color: #9370DB	;font-family:sans-serif;}
h1{text-align: center;}
h2 {text-align: center;}
.img-box {
         display: flex;
         align-items: center; 
         justify-content: center;
         }
.ttt     { 


         }
.rrr     { border: 3px dotted #8A2BE2	; border-radius: 50px;



         }
.ddd     {
         display: flex;
         align-items: center; 
         justify-content: center;



         }
.bbb     { color:			rgb(75,0,130)	;



         }
.jjj     { color: ;


         }
.hre     {text-decoration: none; color:	#FFE4E1; 
         
        


         }
.hhh     {font-size: 13px; text-align: center; color: 	#FFA07A;


         }
.g       { text-align: center;



         }
.gob{display: flex;
         align-items: center; 
         justify-content: center; 
         }
.mmm     {position: relative; left: 15px;



         }
.xz      {display: flex;
         align-items: center; 
         justify-content: center; 



         }
.pus     { background-color: 	#FFDEAD; border-radius: 45px; 



         }
.ogo     { text-align: center; color: 	#CD853F;



         }
.na      { text-align: center; color: 	#CD853F;



         }
.kra     {background-color: 	#A0522D; border-radius: 13px;



         }
.che     { position: relative; left: 80px;



         }
.cher    { background-color: 	rgb(135,206,250); border-radius: 25px;



         }
.nnn     {text-align: center; color:	#FFA07A;}
.oc{text-align: center; color:	#4682B4;}
.t{text-align: center; color: 	#4682B4;}
.bash{position: relative; left: 110px;}
.bom{background-color:	#808080 ; border-radius: 20px;}
.mb{text-align: center; color: #5F9EA0;}
.pid{color:#5F9EA0;}
p{text-align: center;}
.sha{text-align: center; color: #2F4F4F;}
.sh{position: relative; left: 110px;}
.shah{background-color: 	#696969; border-radius: 10px;}
.shahta{ color: #2F4F4F;}
.kor{background-color: 					#808000; border-radius: 10px;}
.koro{color:				#FFE4C4;}
.korol{position: relative; left: 110px; }
.mu{text-align: center; color:			#FFE4C4;}
.l{color: 	rgb(255,0,0);

}
.r{color:				rgb(255,0,0);}
.fo{border:5px double #FA8072; border-radius: 30px;}
.ra{color: 	#CD853F;}
.hop{color:	#008000;}
